<body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Book Store Online Application</a>
       <ul class="navbar-nav mr-auto">
        <li>
          <button type="button" routerLink="/cart" class="btn btn-info">
            Cart <span class="badge badge-light">{{totalItems()}}</span>
          </button>
        </li>
      </ul> 
      <ul *ngIf="myVar" class="navbar-nav" style="float:right;">
        <li>
          <button type="button" routerLink="/login" class="btn btn-info">
            Login 
          </button>
        </li>
      </ul> 
      <ul *ngIf="!myVar" class="navbar-nav" style="float:right;">
        <li>
          <button type="button" routerLink="/login" class="btn btn-info">
            Logout 
          </button>
        </li>
      </ul> 
    </nav>
    
  <router-outlet></router-outlet>
</body>